/* Restyled tags */
body {
  background-color: #121213;
  color:#fff;
  padding: 9px;
}
main {
  height: calc(100vh - (40px));
  flex-direction: column;
  justify-content: center;

}
hr {
  border-style: solid;
}
a {
  text-decoration: none; 
  color: black;
}
a:hover {
  text-decoration: underline;
}

/* Classes */
.flex {
  display: flex;
}
.play-wrapper {
  margin-top: 5px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.choose-length-wrapper {
  margin-top: 15px;

  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.home-text-wrapper {
  justify-content: center;
}
.home-text {
  font-weight: bold;
  font-size: 25px;
  color: rgb(91, 70, 209);
}
.home-subtext {
  font-size: 18px;
  color: rgb(91, 70, 209);
}
.letterblock {
  width: 56px;
  height: 56px;
  border: 2px solid grey;
  color: white;
  font-weight: bold;
  font-size: 35px;
}
.grid {
  margin-top: 35px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 3px;
}
.word {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 3px;
}
.button {
  display: block;
  border: 7px solid rgb(91, 70, 209);
  border-radius: 20px;
  color: rgb(91, 70, 209);
  background-color: transparent;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 0;
  text-transform: uppercase;
  font-size: 30px;
}

.help {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 10px;
  margin-top: 10px;

  width: 40px;
  font-size: 25px;
  border: 2px solid rgb(91, 70, 209);
  border-radius: 5px;
}
.close-help {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 10px;
  margin-top: 5px;
  width: 20px;
  font-size: 20px;
  border: 0px solid rgb(91, 70, 209);
  border-radius: 5px;
  padding: 1px;
}

.play {
  width: 450px;
}
.number-selector {
  width: 72.5px;
}
.button:hover, .selected {
  cursor: pointer;
  color:black;
  background-color: rgb(91, 70, 209);
}
.center {
  text-align: center;
}
/* Modals */
.modal {
  position: fixed;
  padding: 10px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(18,18,19);
  border: 2px solid rgb(91, 70, 209);
  width: 500px;
}
.modal:focus {
  outline: none;
}
.overlay {  
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
}
.modal-grid-block {
  margin: 15px;
}
/* Footer */
.footer {
  position:absolute;
  bottom:0;
  right:0;
  padding: 15px;
  font-size: 25px;
  background-color: rgb(91, 70, 209);
  color: black;
  border-top-left-radius: 20px;
}

